apiVersion: v1
kind: Secret
metadata:
  name: f5-backup
  namespace: kube-system
  labels:
    app: f5-backup
type: Opaque
data:
  f5.backup: "{{ .Values.global.mbed.state.secrets.bigip_admin_password | default "PASSWORD REQUIRED" | b64enc }}"
